.main{
    background: #335;
    width: 15rem;
    margin: 0 auto 1rem;
    display: grid;
    grid-template-columns: 8.5rem 5.5rem;
    border-radius: 0.4rem;
}
input,select{
    background: #0000;
    border:0;
    color:#9f9e9e;
}
select:hover{
    color:red;
}

input{
    padding-left: 0.5rem;
}
select{
    padding: 1rem;
}